<!-- Quiero mas cosas del espacio que se pueda mostrar mas detalles del mismo menu y que este temado sobre el cine
pero ahora del cine junto con el espacio, tengo pensado un titulo con algun detalle del espacio detras
pero tambien naves espaciales cruzando por toda la pantalla y flotando al mismo tiempo (con un efecto de flote) -->

<!-- <div class="container">
  <h1>✨ Cine PequeStars ✨</h1>
  <div class="menu-container">
    <7>
      <li>Combo Pequeno de Palomitas y Refresco</li>
      <li>Combo Mediano de Palomitas y Refresco</li>
      <li>Combo Grande de Palomitas y Refresco</li>
      <li>Chocolates</li>
      <7>Gomitas Dulces<7</li>
    </ul>

  </div>
</div> -->

<div class="container">
  <h1 class="mb-5">✨ Cine PequeStars ✨</h1>
  <div class="menu-li-container">
    <div class="rocket-container animate__lightSpeedInLeft animate__animated">
      <!-- <img
        class="animate__animated animate__swing animate__infinite animate__slower"
        src="../../../assets/imgs/Planets-Playground/FirstPlanet.svg"
        style="transform: rotate(16deg)"
      /> -->
      <h5>Combo Pequeno Palomitas y Refresco</h5>
    </div>
    <img class="rocket-router" src="../../../assets/imgs/Rockets/rocket1.png" />
    <div class="price-container">
      <h5>RD$100</h5>
    </div>
  </div>
  <div class="menu-li-container">
    <div class="rocket-container animate__lightSpeedInLeft animate__animated">
      <!-- <img
        class="animate__animated animate__swing animate__infinite animate__slower"
        src="../../../assets/imgs/Rockets/rocket1.png"
        style="transform: rotate(16deg)"
      /> -->
      <h5>Combo Mediano Palomitas y Refresco</h5>
    </div>
    <img class="rocket-router" src="../../../assets/imgs/Rockets/rocket2.png" />
    <div class="price-container">
      <h5>RD$100</h5>
    </div>
  </div>
  <div class="menu-li-container">
    <div class="rocket-container animate__lightSpeedInLeft animate__animated">
      <!-- <img
        class="animate__animated animate__swing animate__infinite animate__slower"
        src="../../../assets/imgs/Rockets/rocket3.png"
        style="transform: rotate(16deg)"
      /> -->
      <h5>Combo Grande Palomitas y Refresco</h5>
    </div>
    <img class="rocket-router" src="../../../assets/imgs/Rockets/rocket3.png" />
    <div class="price-container">
      <h5>RD$100</h5>
    </div>
  </div>
  <div class="menu-li-container">
    <div class="rocket-container animate__lightSpeedInLeft animate__animated">
      <!-- <img
        class="animate__animated animate__swing animate__infinite animate__slower"
        src="../../../assets/imgs/Rockets/rocket4.png"
        style="transform: rotate(16deg)"
      /> -->
      <h5>Chocolate</h5>
    </div>
    <img class="rocket-router" src="../../../assets/imgs/Rockets/rocket4.png" />
    <div class="price-container">
      <h5>RD$100</h5>
    </div>
  </div>
  <div class="menu-li-container">
    <div class="rocket-container animate__lightSpeedInLeft animate__animated">
      <!-- <img
        class="animate__animated animate__swing animate__infinite animate__slower"
        src="../../../assets/imgs/Rockets/rocket2.png"
        style="transform: rotate(16deg)"
      /> -->
      <h5>Gomitas Dulces</h5>
    </div>
    <img class="rocket-router" src="../../../assets/imgs/Rockets/rocket2.png" />
    <div class="price-container">
      <h5>RD$100</h5>
    </div>
  </div>
  <div class="menu-li-container">
    <div class="rocket-container animate__lightSpeedInLeft animate__animated">
      <!-- <img
        class="animate__animated animate__swing animate__infinite animate__slower"
        src="../../../assets/imgs/Rockets/rocket6.png"
        style="transform: rotate(16deg)"
      /> -->
      <h5>Nachos</h5>
    </div>
    <img class="rocket-router" src="../../../assets/imgs/Rockets/rocket6.png" />
    <div class="price-container">
      <h5>RD$100</h5>
    </div>
  </div>

  <!-- <div class="rocket-container animate__lightSpeedInLeft animate__animated ">
    <img
      class="animate__animated animate__swing animate__infinite animate__slower"
      src="../../../assets/imgs/Rockets/rocket2.png"
      style=" transform: rotate(16deg)"
    />
    <h5>Combo Mediano Palomitas y Refresco</h5>
  </div>
  <div class="rocket-container animate__lightSpeedInLeft animate__animated ">
    <img
      class="animate__animated animate__swing animate__infinite animate__slower"
      src="../../../assets/imgs/Rockets/rocket3.png"
      style=" transform: rotate(16deg)"
    />
    <h5>Combo Grande Palomitas y Refresco</h5>
  </div>
  


  
 -->
  <!-- esa imagen va a contener un cohete, esa imagen estara
    dentro de un div, para asi entonces debajo de la imagen
    agregar un h1 para luego agregarle animaciones al div padre
    que hagan como si el cohete entra en la pantalla, le seteamos
    un tiempo de animacion entonces antes de que se acabe, seteamos
    unos keyframes con un delay en la animacion, para que cuando
    se acabe la animacion, haga como si los cohetes se van de nuevo
    intenta hacer una animacion como de rotacion, o que se vallan
    hacia la derecha mira a ver que puedes hacer...-->
</div>
