.container{
    padding-top: 15rem;
    margin: 0 auto;
    text-align: center;
    img{
        max-width: 100%;
        height: auto;
    }
    .info-section{
        .contact-options{
            margin-top: 100px;
        ul{
            display: flex;
            flex-direction: column;
            text-align: center;
            li{
                list-style: none;
                margin: 20px 0;
                img{
                    margin: 10px;
                }
            }
        }
        }
    }
}