<div class="container">
    <div class="info-section">
        <h1>✨ Contact Us ✨</h1>
        <div class="contact-options">
            <ul>
            <li for=""><img src="../../../assets/imgs/icons/instagram (2) 1.svg" alt="" srcset=""> @pequestars.ig</li>
            <li for=""><img src="../../../assets/imgs/icons/facebook (3) 1.svg" alt="" srcset=""> @pequestars.fb</li>
            <li for=""><img src="../../../assets/imgs/icons/twitter-sign (2) 1.svg" alt="" srcset=""> @pequestars.twt</li>
            <li for=""><img src="../../../assets/imgs/icons/placeholder-filled-point 1.svg" alt="" srcset=""> Flamingo St, 7753</li>
        </ul>
        </div>
    </div>
    <img src="../../../assets/imgs/Planets-Playground/UFOs/MainUFO.svg" alt="" >
</div>
