<div class="hero-container">
  <div class="top-navbar animate__animated animate__backInDown">
    <h1>✨ PequeStars ✨</h1>
    <ul>
      <li><a>Home</a></li>
      <li><a (click)="scrollToMenu()">Menu</a></li>
      <li><a (click)="scrollToCine()">Cine</a></li>
      <li><a (click)="scrollToAbout()">About</a></li>
      <li><a (click)="scrollToFooter()">Contact</a></li>
    </ul>
  </div>
  <div class="ngsreveal first-section">
    <div class="left-section">
      <h1 class="animate__animated animate__pulse">
        ¡Acompaña a tus pequeños <br />
        astronautas en una comida <br />
        intergaláctica única!
      </h1>
      <button
        class="action-button animate__animated animate__bounceIn animate__slower"
      >
        <h1 (click)="scrollToMenu()">Nuestro Menu</h1>
      </button>
    </div>
    <img class="img-spaceship" src="../assets/imgs/spaceship.svg" />
    <div class="right-section">
      <img class="space-image" src="../assets/imgs/Space.svg" height="500px" />
    </div>
  </div>
  <app-our-menu id="our-menu"></app-our-menu>
  <app-cine-menu id="cine"></app-cine-menu>
  <app-about id="about-us"></app-about>
  <app-footer id="footer"></app-footer>
</div>
